{% extends "base.html" %}
{% from "_formhelpers.html" import render_field %}


{% block content %}
    <div class="row">
	<form class="form-horizontal" method="post" action="{{ url_for('login') }}">
	    {{ form.hidden_tag() }}
	    {{ render_field(form.email) }}
	    {{ render_field(form.password) }}
	    {{ render_field(form.remember) }}
	    <button type="submit" class="col-sm-offset-2 btn btb-primary">
		Sign in
	    </button>			
	</form>
	<a class="col-sm-offset-2" href="{{ url_for('forget_password') }}">forget password?</a>
    </div>   
{% endblock content %}
