{% extends "base.html" %}

{% block content %}
    <div class="row">
	<table class="table">
	    <tr>
		<td>name</td>
		<td>{{ member.lastname }} {{ member.firstname }}</td>
	    </tr>
	    <tr>
		<td>chinesename</td>
		<td>{{ member.chinesename }}</td>
	    </tr>
	    <tr>
		<td>sex</td>
		<td>{{ member.sex }}<td>
	    </tr>
	    <tr>
		<td>country</td>
		<td>{{ member.coutry }}<td>
	    </tr>
	    <tr>
		<td>domain china</td>
		<td>{{ member.domain_china|default('', true) }}<td>
	    </tr>
	    <tr>
		<td>domain france</td>
		<td>{{ member.domain_france|default('', true) }}<td>
	    </tr>
	    <tr>
		<td>address</td>
		<td>{{ member.address }}<td>
	    </tr>
	    <tr>
		<td>email</td>
		<td>{{ member.email }}<td>
	    </tr>
	    <tr>
		<td>weibo</td>
		<td>{{ member.weibo }}<td>
	    </tr>
	    <tr>
		<td>weixin</td>
		<td>{{ member.weixin }}<td>
	    </tr>
	    <tr>
		<td>chinese university</td>
		<td>{{ member.chinese_university }}<td>
	    </tr>
	    <tr>
		<td>paristech school</td>
		<td>{{ member.paristech_school }}<td>
	    </tr>
	    <tr>
		<td>paristech entrance year</td>
		<td>{{ member.paristech_entrance_year }}<td>
	    </tr>
	    <tr>
		<td>employer</td>
		<td>{{ member.employer }}</td>
	    </tr>
	</table>
    </div>
{% endblock content %}
