<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	</button>
	<a class="navbar-brand" href="{{ url_for('home') }}"><img src="{{ url_for('static', filename='img/afcp_logo.jpg') }}"></img></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav">
	    <li><a href="{{ url_for('members') }}">Members</a></li>
	    <form action="{{ url_for('search') }}" class="navbar-search pull-left">
		<input name="q" type="text" class="search-query" placeholder="Search">
	    </form>

	    <li class="dropdown">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
		<ul class="dropdown-menu">
		    <li><a href="#">Action</a></li>
		    <li><a href="#">Another action</a></li>
		    <li><a href="#">Something else here</a></li>
		    <li class="divider"></li>
		    <li><a href="#">Separated link</a></li>
		    <li class="divider"></li>
		    <li><a href="#">One more separated link</a></li>
		</ul>
	    </li>
	</ul>
	
	<ul class="nav navbar-nav navbar-right">
	    {% if current_user.is_authenticated() %}
		<p class="navbar-text">Hi, {{ current_user.firstname }}!</p>
		<li><a href="{{ url_for('personal') }}">account</a></li>
		<li><a href="{{ url_for('logout') }}">logout</a></li>
	    {% else %}
		<form method="post" action="{{ url_for('login') }}" class="form-inline">
		    <input name="username" type="text" class="input-small" placeholder="username">
		    <input name="password" type="password" class="input-small" placeholder="password">
		    <label class="checkbox">
			<input name="remember" type="checkbox">Remember me
		    </label>
		    <button type="submit" class="btn">Sign in</button>
		</form>	      
	    {% endif %}	
	</ul>
    </div><!-- /.navbar-collapse -->
</nav>
